
body {
    padding: 30px 50px 30px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}
body a{
    color: #163152;
    text-decoration: none;
}

.header{
    width: 1200px;
    margin: 0 auto;
    padding: 0 90px;
}

.logo{
    margin-right: 70px;
}

.main-navigation-img-account{
    margin-left: 40px;
}

.main-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-navigation__list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation__list_item{
    margin-right: 20px;
}

.main-navigation__list_item a{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18xp;
}

.main-navigation__list_item a:hover{
    opacity: 0.5;
}

.hero h1{
    font-style: italic;
    font-size: 44px;
    line-height: 60px;
    font-weight: 400;
    color: #163152;
}
.first {
}

.main h2 a{
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-decoration-thickness: 2px;
    text-underline-position: under;
    text-underline-offset: 3px;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
}
.main p{
    font-size: 16px;
    line-height: 24px;
}
.second p:nth-child(2), .first p:first-child{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.contacts {
}
.contacts b, span{
    font-size: 16px;
    line-height: 22px;
}
.contacts b, p{
    font-weight: 700;
}
.contacts__social-list {
}
.contacts__social-list_item {
}
.facebook {
}
.twitter {
}
.instargam {
}
.footer {
    color: #163152;
}
.footer a{
    font-size: 14px;
    line-height: 16px;
}
.footer__logo {
}
.footer__logo p{
    font-size: 10px;
    line-height: 12px;
}
.footer__company {
}
.footer__company h3, .footer__club h3, .footer__services h3, .footer__reggatas h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.footer__company_item {
}
.footer__club {
}
.footer__club_item {
}
.footer__services {
}
.footer__services_item {
}
.footer__reggatas {
}
.footer__regaatas_item {
}